// Fonts

@font-face{
    font-family:"HelveticaNeueW01-Thin";
    src:url("//static.parastorage.com/services/third-party/fonts/Helvetica/Fonts/56be84de-9d60-4089-8df0-0ea6ec786b84.eot?#iefix");
    src:url("//static.parastorage.com/services/third-party/fonts/Helvetica/Fonts/56be84de-9d60-4089-8df0-0ea6ec786b84.eot?#iefix") format("eot"),url("//static.parastorage.com/services/third-party/fonts/Helvetica/Fonts/50d35bbc-dfd4-48f1-af16-cf058f69421d.woff") format("woff"),url("//static.parastorage.com/services/third-party/fonts/Helvetica/Fonts/278bef59-6be1-4800-b5ac-1f769ab47430.ttf") format("truetype"),url("//static.parastorage.com/services/third-party/fonts/Helvetica/Fonts/2e309b1b-08b8-477f-bc9e-7067cf0af0b3.svg#2e309b1b-08b8-477f-bc9e-7067cf0af0b3") format("svg");
}

@font-face{
    font-family:"HelveticaNeueW01-45Ligh";
    src:url("//static.parastorage.com/services/third-party/fonts/Helvetica/Fonts/ae1656aa-5f8f-4905-aed0-93e667bd6e4a.eot?#iefix");
    src:url("//static.parastorage.com/services/third-party/fonts/Helvetica/Fonts/ae1656aa-5f8f-4905-aed0-93e667bd6e4a.eot?#iefix") format("eot"),url("//static.parastorage.com/services/third-party/fonts/Helvetica/Fonts/530dee22-e3c1-4e9f-bf62-c31d510d9656.woff") format("woff"),url("//static.parastorage.com/services/third-party/fonts/Helvetica/Fonts/688ab72b-4deb-4e15-a088-89166978d469.ttf") format("truetype"),url("//static.parastorage.com/services/third-party/fonts/Helvetica/Fonts/7816f72f-f47e-4715-8cd7-960e3723846a.svg#7816f72f-f47e-4715-8cd7-960e3723846a") format("svg");
}

body, html {
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0;
}

h1 {
  font: normal normal normal 60px/1.4em helveticaneuew01-thin,sans-serif;
  line-height: 1.2em;
}

h5 {
  font: normal normal normal 50px/1.4em helveticaneuew01-thin,sans-serif;
}

h6 {
  font: normal normal normal 20px/1.4em helveticaneuew01-45ligh,sans-serif;
  line-height: 1.5em;
  margin-top: 20px;
}

p {
  font: normal normal normal 16px/1.4em helveticaneuew01-45ligh,sans-serif;
}

@media (max-width: 768px) {
  h1 {
    font-size: 3em;
  }

  h5 {
    font-size: 2em;
  }
}
