
.m-r-10 {
  margin-right: 10px;
}

.m-t-10 {
  margin-top: 10px;
}

.m-t-20 {
  margin-top: 20px;
}

.p-t-20 {
  padding-top: 20px;
}

.p-horizontal {
  padding: 0 2%;
}
.back-white {
  background-color: $white;
}

.back-skye {
  background-color: #673AB7;
}

.color-white {
  color: $white;
}

.color-black {
  color: $black;
}

.text-center {
  text-align: center;
}
