@import "mixins",
        "variables",
        "fonts",
        "layout",
        "general";

a {
  text-decoration: none;
}

section,
footer {
  min-height: 800px;
}

section div {
  width: 50%;
}

nav,
footer,
.home {
  padding: 0 10%;
}

.section-image {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 20% center;
  background-size: 30%;
}

.main-image {
  background: url("./../img/img-home.png") no-repeat center;
  background-size: 75%;
}

.logo-link {
  font-size: 3em;
  color: $white;
}

.bg-img-1 {
  background-image: url("./../img/img-1.png");
}

.bg-img-2 {
  background-image: url("./../img/img-2.png");
}

.bg-img-3 {
  background-image: url("./../img/img-3.png");
}

.bg-img-4 {
  background-image: url("./../img/img-4.png");
}

@media (max-width: 1260px) {
  .main-image {
    background-size: 80%;
  }

  .section-image {
    background-size: 33%;
  }

  section,
  footer {
    min-height: 700px;
  }
}

@media (max-width: 1024px) {
  body > section {
    text-align: center;

    &:nth-child(odd) {
      flex-direction: row-reverse;
    }
  }
  .section-image {
    background-position: center;
    background-size: 75%;
    background-attachment: local;
  }

  nav {
    padding: 0 5%;
  }

  .home {
    padding-left: 5%;
    padding-right: 0;
  }
}

@media (max-width: 768px) {
  .home {
    padding-left: 5%;
    padding-right: 0;

      h1 {
        display: none;
      }
  }

  .section-image {
    background-size: 90%;
  }
}
